# Bonus: Temperature Analysis I

In [17]:
import pandas as pd
from datetime import datetime as dt

In [18]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [19]:
# Convert the date column format from string to datetime
df.date = pd.to_datetime(df.date, infer_datetime_format=True)
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [20]:
# Set the date column as the DataFrame index
df = df.set_index(df['date'])
df.head()

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73

In [21]:
df['day'] = pd.DatetimeIndex(df['date']).day

In [22]:
# Drop the date column
df = df.drop(columns='date')
df.head()

                station  prcp  tobs  day
date
2010-01-01  USC00519397  0.08    65    1
2010-01-02  USC00519397  0.00    63    2
2010-01-03  USC00519397  0.00    74    3
2010-01-04  USC00519397  0.00    76    4
2010-01-06  USC00519397   NaN    73    6

### Compare June and December data across all years

In [23]:
from scipy import stats

In [24]:
# Filter data for desired months
jun_temp_df = df[(df.index.month == 6) & (df.index.day <= 30)]
dec_temp_df = df[(df.index.month == 12) & (df.index.day <= 30)]
dec_temp_df.tail()

                station  prcp  tobs  day
date
2016-12-26  USC00516128  1.48    71   26
2016-12-27  USC00516128  0.14    71   27
2016-12-28  USC00516128  0.14    71   28
2016-12-29  USC00516128  1.03    69   29
2016-12-30  USC00516128  2.37    65   30

In [25]:
# Identify the average temperature for June
jun_temp_df.mean()

/var/folders/n7/sntrh25x5b158s65t0zfwdv40000gn/T/ipykernel_94106/84420175.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  jun_temp_df.mean()

prcp     0.136360
tobs    74.944118
day     15.487059
dtype: float64

In [26]:
# Identify the average temperature for December
dec_temp_df.mean()

/var/folders/n7/sntrh25x5b158s65t0zfwdv40000gn/T/ipykernel_94106/2473835542.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dec_temp_df.mean()

prcp     0.218007
tobs    71.122117
day     15.166214
dtype: float64

In [29]:
# Create collections of temperature data

# drop unused the columns
jun_tobs_df = jun_temp_df.drop(columns=['station','prcp'])
dec_tobs_df = dec_temp_df.drop(columns=['station','prcp'])

# group the data by day and the mean
# grouping by day so the number of element of both data groups are equel
jun_tobs_grp_df = jun_tobs_df.groupby(by="day").mean()
dec_tobs_grp_df = dec_tobs_df.groupby(by="day").mean()

dec_tobs_df.head()

            tobs  day
date
2010-12-01    76    1
2010-12-03    74    3
2010-12-04    74    4
2010-12-06    64    6
2010-12-07    64    7

In [30]:
# Run paired t-test

result = stats.ttest_rel(jun_tobs_grp_df, dec_tobs_grp_df)
result

Ttest_relResult(statistic=array([15.96949276]), pvalue=array([6.60560303e-16]))

### Analysis

In [31]:
###The result of the t-test is that of an alternative hypothesis because the p-value is very small. There is a difference between the observations of temperature in June and December.